*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}

h1, h2, h3{
    text-align: center;
}

ul{
    list-style: none;
}

.sites{

    text-align: center;
    background-color:rgb(235, 202, 162);
    border-radius: 10px;
}