* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden; 
}

header {
    position: relative;
    top: 0;
    left: 14.1em; 
    width: calc(100% - 14.0625em); 
    height: 13.625em;
    background-color: rgb(240, 222, 199);
    background-image: url(Imagens/Logo.png);
    background-size: 16.5em 16.5em;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    text-align: right;
    padding: auto;
    border-radius: 0.3125em;
}

main {
    text-align: justify;
    position: relative;
    left: 14.1em;
    width: calc(100% - 14.0625em); 
    background-color: #eddbc4;
    border-radius: 0.3125em;
    padding: 1.875em;
}

textarea{
    position: relative;
    width: 11.5em;
    height: 2em;
    max-width: 11.5em;
    min-width: 11.5em;
    min-height: 2em;
    max-height: 2em;
    float: right;
}

aside {
    position: fixed;
    top: 0;
    left: 0; 
    width: 14.0625em;
    height: 100vh; 
    background-color: #65594a;
    border-radius: 0.3125em;
    padding: 1em;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: larger;
}

nav{
    padding: 1em;
    position: relative;
    background-color: #65594a;
    width: calc(100% - 14.0625em);
    height: 3em;
    left: 14.1em; 
    color: black;
    border-radius: 0.3125em;
}

aside img{
    width: 2.8em;
    height: 2em;
}

main img{
    width: 2.8em;
    height: 2em;
}

.text{
    border-radius: 0.5em;
    background-color: white;
    width: 35em;
    margin-left: 3em;
    padding: 10px;
}
#Decor{
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    width: calc(100% + 20px);
    color: orangered;
    margin-right: -10px;
    margin-bottom: -10px;
    margin-left: -10px;
    box-sizing: border-box;
    padding-right: 5px;
}

#Decor img{
    width: 1em;
    height: 1em;
}

#Decor p{
    margin-left: -28em;
}

.Comment{
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;

}
